Line-Chatbot/workflow.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "line-bot",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -160,
        0
      ],
      "id": "255f4177-9e0e-4836-a76f-6e3330b8f76c",
      "name": "Webhook",
      "webhookId": "6d2ca483-7e70-40dd-b7e1-ea4d57c549f5"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=[System Prompt]\nคุณคือ “อาจารย์ผู้เชี่ยวชาญด้านการพัฒนา Chatbot” มีประสบการณ์สร้างระบบ RAG บน LINE ด้วย n8n และ Pinecone\n\n[User Prompt]\nช่วยสรุปขั้นตอนการสร้าง LINE Chatbot ของเรา ดังนี้\n1. ดึงไฟล์จาก Google Drive (ระบุโฟลเดอร์/ไฟล์ ID)  \n2. สกัดข้อความสำคัญด้วย n8n (ตัวอย่างโหนด + ค่า config)  \n3. สร้าง Vector Embeddings ใน Pinecone (จาวาสคริปต์/ไพธอน ตัวอย่างโค้ดเชื่อมต่อ + วิธีจัดเก็บ)  \n4. ใช้ RAG ดึง Embeddings มา generate คำตอบ (flow สั้นๆ)  \n5. ตั้งค่า LINE Messaging API (Webhook + โค้ดตัวอย่างรับ–ส่งข้อความ)  \n6. ยกตัวอย่างทดสอบ 2 กรณี:  \n   • ถามข้อมูลจากเอกสาร  \n   • ถามทั่วไป  \n\n[Output Format]\n• ตอบเป็น Step 1, Step 2,…  \n• ภาษาไทยทางการ สุภาพ กระชับ  \n• เน้นโค้ดตัวอย่างและ config จริง พร้อมนำไปใช้ได้ทันที  \n\n[User Input]\n{{ $json.body.events[0].message.text }}\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        340,
        0
      ],
      "id": "abf29c4b-6c63-4dd5-b4d4-2423b9ffe75b",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        100,
        260
      ],
      "id": "64b58f8c-bea6-41d8-a782-65975f6d38f0",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "0TW4yGLoYXLJojmV",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2a8e1210-0956-48d5-aa1e-09fd8c4f78da",
              "name": "body.events[0].message.text",
              "value": "={{ $json.body.events[0].message.text }}",
              "type": "string"
            },
            {
              "id": "e5cf5336-3691-4749-8da3-c0b10c16171d",
              "name": "body.events[0].replyToken",
              "value": "={{ $json.body.events[0].replyToken }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        60,
        0
      ],
      "id": "03292a2a-92de-4499-acc4-0b282a325c1c",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/reply",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer BC1e9+9dxURNmPEBFcGNpGug1PDU5sJIsACEIyXkGso++NPRpl7ctgjohfcl1In84VjbKSGsTBu9pX2m/W2Mi5Jbx2FWmC371BcjXylSkJnzD8KEdhSHfZeCWHaS+qUhOkTeanKPEkHhpA0poqDEVQdB04t89/1O/w1cDnyilFU="
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{\n  return {\n    replyToken: $node[\"Edit Fields\"].json[\"body\"][\"events\"][0][\"replyToken\"],\n    messages: [\n      {\n        type: \"text\",\n        text: $json[\"output\"].replace(/\\\\n/g, \"\\n\")\n      }\n    ]\n  };\n}}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        700,
        0
      ],
      "id": "f18fe23d-062f-4e69-809c-da9a1ca75018",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.body.events[0].replyToken }}",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        340,
        260
      ],
      "id": "2afb1fcb-f797-4c44-ac11-c060ed681e90",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "topK": 100
      },
      "type": "@n8n/n8n-nodes-langchain.toolVectorStore",
      "typeVersion": 1.1,
      "position": [
        640,
        280
      ],
      "id": "ceb118cd-fbe9-4af5-9740-4a09c821e7ca",
      "name": "Answer questions with a vector store"
    },
    {
      "parameters": {
        "pineconeIndex": {
          "__rl": true,
          "value": "chatbotindex",
          "mode": "list",
          "cachedResultName": "chatbotindex"
        },
        "options": {
          "pineconeNamespace": "itemdb"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        380,
        440
      ],
      "id": "e3a5e6ae-592d-4b83-a324-7bdd90668bc6",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "KbgEEFA9MjlY3Pzn",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        300,
        620
      ],
      "id": "5f1a7dd2-7153-4eab-9c0e-f4daeb1bfccb",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "0TW4yGLoYXLJojmV",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        780,
        500
      ],
      "id": "a8292d5c-a06c-43f1-a39b-7bfe7fe20637",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "0TW4yGLoYXLJojmV",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -160,
        -540
      ],
      "id": "dd9ac802-031d-44d6-b805-aec70d10bb05",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1cvsxHc8jtS8q3ZTcbPdxhmyIg_EuP_ms",
            "mode": "list",
            "cachedResultName": "RAG",
            "cachedResultUrl": "https://drive.google.com/drive/folders/1cvsxHc8jtS8q3ZTcbPdxhmyIg_EuP_ms"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        60,
        -540
      ],
      "id": "fa32958f-41f7-442d-bee4-17363a3b1338",
      "name": "Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "JJ6ifaWlO6ufv9pM",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        280,
        -540
      ],
      "id": "4068581c-e17f-414a-a9a6-de7d2d97a89e",
      "name": "Google Drive1",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "JJ6ifaWlO6ufv9pM",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        640,
        -320
      ],
      "id": "7babde5c-6558-4129-8ba1-d7ee0432ddad",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1cvsxHc8jtS8q3ZTcbPdxhmyIg_EuP_ms",
          "mode": "list",
          "cachedResultName": "RAG",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1cvsxHc8jtS8q3ZTcbPdxhmyIg_EuP_ms"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        140,
        -320
      ],
      "id": "5529e4a7-1c66-40b3-9189-d077b1ce54c2",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "JJ6ifaWlO6ufv9pM",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "chatbotindex",
          "mode": "list",
          "cachedResultName": "chatbotindex"
        },
        "options": {
          "pineconeNamespace": "itemdb"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        500,
        -540
      ],
      "id": "9ea68cbc-b43c-4e01-b5b2-39fee5b84775",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "KbgEEFA9MjlY3Pzn",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        400,
        -320
      ],
      "id": "e6ef3637-11f8-4691-aab6-7725208b8999",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "0TW4yGLoYXLJojmV",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Answer questions with a vector store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_vectorStore": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_vectorStore",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Answer questions with a vector store",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Google Drive",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive": {
      "main": [
        [
          {
            "node": "Google Drive1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive1": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Google Drive1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "69f30734-2eb8-4997-8cb8-25a43218a4d2",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a780610ffcc3d0cf9ee1fb1c11e017c3ae855c2ed24a9dec7e7d37eb0683d109"
  },
  "id": "H0z4JQxz0ppkbNpX",
  "tags": []
}